/* Knöpfe */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}
input[type="text"],
textarea {
  width: 100%;
}
input,
textarea,
button {
  border: 1px solid gray;
}
button {
  padding: 0.75em 1em;
  border-radius: 0;
  line-height: 1;
  background-color: transparent;
}
button * {
  pointer-events: none;
}
/* ------- */


